<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="trustedCertificates" type="IronMacbeth.Common.CertificateValidation.TrustedCertificatesConfigurationSection, IronMacbeth.Common" />
    </configSections>
    <connectionStrings>
      <add name="Database" connectionString="Data Source=localhost;Initial Catalog=IronMacbeth.UserManagement.Database;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=False" />
    </connectionStrings>
    <trustedCertificates>
        <add value="1f6d9f9b14398c874f292d6986d93a27" />
    </trustedCertificates>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="IronMacbeth.UserManagement.Binding">
                  <security mode="Message">  
                    <message clientCredentialType="Certificate" />  
                  </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        
        <behaviors>
            <serviceBehaviors>
                <behavior name="IronMacbeth.UserManagement.Behavior">
                  <serviceMetadata httpGetEnabled="True" />
                  <serviceCredentials>  
                    <serviceCertificate findValue="1f6d9f9b14398c874f292d6986d93a27" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySerialNumber" />  
                    <clientCertificate>
                        <authentication certificateValidationMode="Custom" customCertificateValidatorType="IronMacbeth.Common.CertificateValidation.IronMacbethX509CertificateValidator, IronMacbeth.Common" />
                    </clientCertificate>
                  </serviceCredentials>  
                </behavior>
            </serviceBehaviors>
        </behaviors>
        
        <services>
            <service name="IronMacbeth.UserManagement.UserManagementService" behaviorConfiguration="IronMacbeth.UserManagement.Behavior">
                <endpoint address="UserManagement" binding="wsHttpBinding" bindingConfiguration="IronMacbeth.UserManagement.Binding" contract="IronMacbeth.UserManagement.Contract.IUserManagementService" />
                <host>
                  <baseAddresses>
                    <add baseAddress="http://localhost:9997" />
                  </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>